
* * { box-sizing: border-box; }
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  margin:             0px;
  padding:            0px;
  list-style:         none;
}

body {
	height: 100%;
}
// primary color
h2,h3,h4,h5,h5,p {
	font-family: "Muli",avenir,"helvetica neue"
	,helvetica,ubuntu,
	roboto,noto,"segoe ui",arial,sans-serif;
	-webkit-font-smoothing: antialiased;	
}

a {
	text-decoration: none;
	a:hover {
		color: #548;
    	background-color: transparent;
	}
}
.welcome-info {
	p {
		margin-right: auto;
		margin-left: auto;
		font-size: 1.4em;
		text-align: center;
		// color: #999;
		font-weight: 200;
	}
}


.title {
	line-height: 1.25;
	color: #fbc547;
	font-size: 3rem;
	padding: 1em;
    text-align: center;
	@include grid-media($my-desktop-grid) {
		text-align: center;
		padding: 80px
	}
}


hr {
	background-color: #ebb951;
	clear: both;
}
// Using Neat grid from myneat.cscss file
.container {
	@include grid-column(12, $neat-grid);
}

// Custom grid for mobile from myneat.cscss file
.section_1 {
	@include grid-media($my-desktop-grid) {
		@include grid-column(6);
	}
}

@include grid-media($my-desktop-grid) {
	.section_2 {
		@include grid-column(6);
	}
}

//----------------------------------------
// https://codepen.io/SmaragdaTh/pen/LERvNq
//-----------------------------------------

a, a:visited {
  text-decoration:  none;
}


/* WIDTH SETTING */
.nav-hold {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-bar {
  width: 100%;
  background: #222;
}

.nav-hold {
  overflow: hidden;
}

.nav-logo {
  float:    left;
  display:  block;
  color:    #f9f9f9;
  padding:  20px;
}

.nav-list {
  float: right;
}

.nav-list li {
  float: left;
}

.nav-list li a {
  display:  block;
  padding:  20px 10px;
  color:    #f9f9f9;
}

.nav-menu {
  color:    #f9f9f9;
  float:    right;
  padding:  20px 10px;
  display:  none;
  cursor:   pointer;
}

@media (max-width: 700px) {
  .nav-menu {
    display:  block;
  }

  .nav-list {
    /*float: left;*/
    width:    100%;
    height:   0;
  }

  .nav-open {
    height: auto;
  }

  .nav-list li {
    width:    100%;
  }
  
  .nav-list li a {
    padding:  10px 10px;
  }

}
