---
title: shop store
---

<!--  -->
<div class="container">
	<div class="title-wraper">
		<div class="title">
			Shop store
		</div> 

		<div class="welcome-info">
			<p>
				A Toolkit to make static website fast and simple with the moderm
				tools for web development.
			</p>	
		</div>
	</div>
	<hr>
	<div class="element">
		<div class="section_1">

			<h2>
				How to deploy middleman toolkit to github Pages
			</h2>
		</div>

		<div class="section_2">
			<p>
				The media attribute is used by the grid media mixin to define the local media query. You then pass the map directly in to the media query mixin like this.
			</p>
		</div>
	</div>
	<i class="fa fa-ravelry" aria-hidden="true"></i>	
	<hr>
	
<div class="accordion-container">
  <h2>jQuery Accordion</h2>
  <div class="set">
    <a href="#/">
      Vestibulum 
      <i class="fa fa-plus"></i>
    </a>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
    </div>
  </div>
  <div class="set">
    <a href="#/">
      Phasellus 
      <i class="fa fa-plus"></i>
    </a>
    <div class="content">
      <p> Aliquam cursus vitae nulla non rhoncus. Nunc condimentum erat nec dictum tempus. Suspendisse aliquam erat hendrerit vehicula vestibulum.</p>
    </div>
  </div>
  <div class="set">
    <a href="#/">
      Praesent 
      <i class="fa fa-plus"></i>
    </a>
    <div class="content">
      <p>Pellentesque aliquam ligula libero, vitae imperdiet diam porta vitae. sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
    </div>
  </div>
  <div class="set">
    <a href="#/">
      Curabitur 
      <i class="fa fa-plus"></i> 
    </a>
    <div class="content">
      <p> Donec tincidunt consectetur orci at dignissim. Proin auctor aliquam justo, vitae luctus odio pretium scelerisque. </p>
    </div>
  </div>
</div>


</div>

