---
title: shop store
---

<!--  -->
<div class="container">
	<div class="title-wraper">
		<div class="title">
			Shop store
		</div> 

		<div class="welcome-info">
			<p>
				A Toolkit to make static website fast and simple with the moderm
				tools for web development.
			</p>	
		</div>
	</div>
</div>